.container-one .secondary {
    color: skyblue;
}

.container-one > p {
    color: rgb(107, 112, 59)
}

h1, h2, .secondary {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1.secondary {
    font-weight: 700;
}

h1 + h2 {
    border: 2px dashed black;
}