* {
    margin: 0;
}


h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    margin: 50px;
}

h2 {
    text-align: center;
    color: skyblue !important;
}

.secondary {
    color: blue;
}